@model  EjerciciosPropuestos_01_CondoriGutierrez.Models.ClsEjercicio03
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Grados Centigrados a Grados Fahrenheit</h1>
        <br /><br />
        <form name="FrmGrados" action="Visualizar" method="post">
            <label>Ingrese Grados Centigrados: </label>
            <input type="text" name="N" /><br />

            <input type="submit" name="Calcular" /><br />
        </form>
    </div>
</body>
</html>
